.notificationBox  {
    height: 120px;
    background-color: var(--blue);
    color: white;
    border-radius: 2px;
    position: absolute;
    left: 108.3em;
    transition: ease-in;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notificationBox p {
    margin: 30px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.3px;
    line-height: 30px;
}

.checkIcon {
    color: rgb(35, 235, 52);
    margin-right: 12px;
    position: relative;
    top: 5px;
    font-size: 26px;
}

.timeBar {
    height: 10px;
    width: 0px;
    background-color: rgba(255, 255, 255, 0.63);
    transition-duration: 3s;
}

.timeBarWidth {
    width: 400px;
}