.splitColumn {
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
}

.leftColumn {
    background: rgb(231, 231, 231);
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rightColumn {
    background-color: lightgray;
    flex: 1;
    display: flex;
    justify-content: center;
}

.invoice {
    box-shadow: 2px 0 rgb(6 41 66 / 10%);
    border: 3px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 595px;
    height: 842px;
    margin: 10px auto;
    background: rgb(255, 255, 255);
}

.myInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.myInfo img {
    width: 120px;
    margin-left: 20px;
}

th {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
}

.clientInfo {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-left: 60px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.invoiceDetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.input {
    width: 90px;
    font-size: 15px;
    height: 20px;
    padding: 5px;
    margin-top: 3px;
    text-align: center;
}

.input:disabled {
    border: none;
    font-weight: bold;
    color: black;
    background-color: rgba(224, 224, 224, 0.479);
}

.bg {
    background-color: white;
    border-radius: 5px;
    padding: 50px;
}

.bg select {
    height: 30px;
    font-size: 14px;
}

.bg option {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg option:hover {
    background:lightgray !important;
}

.title {
    margin-right: 68px;
    color: var(--blue);
}

.subTitle {
    color: var(--blue);
}

.flexSelectClient {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.flexSelectClient p {
    margin-right: 20px;
}

.productTitles {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

button {
    color: white;
    font-size: 21px;
    background-color: var(--green);
    font-family: Roboto;
    min-width: 40px;
    border: none;
    transition: 0.4s;
    outline: none;
    margin-left: 17px;
}

.addItem {
    font-size: 28px;
    transition: 0.4s;
    margin-left: 15px;
    color: var(--green);
}

.addItem:hover {
    color: var(--hovergreen);
}

.addClientBtn {
    margin-left: 20px;
    padding: 2px;
    align-items: center;
}

button:hover {
    background-color: var(--hovergreen);
    transition: 0.4s;
}

.productData {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    justify-items:center;
}

.productData input {
    border: 1px solid rgb(211, 211, 211);
    height: 40px;
    text-align: center;
}

.wideInput {
    width: 250px;
}

.binIcon {
    margin-top: 5px;
    font-size: 36px;
    color: black;
}

.binIcon:hover {
    color: red;
    transition: 0.1s;
}

.productTitlesDetails {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    background-color: rgba(133, 131, 131, 0.123);
    margin: 0px 50px 0px 50px;
}

.productDetails {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    margin: 8px 50px 0px 50px;
}

h4 {
    color: var(--blue);
    font-weight: 300;
}

.line {
    border: 1px solid var(--blue);
    margin: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.invoiceOverview {
    display: flex;
    justify-content: flex-end;
    padding-right: 55px;
    margin-top: 30px;
}

.invoiceOverview p {
    padding: 3px;
    text-align: left;
}

.overviewTitles {
    margin-right: 20px;
}

.invoiceFooter {
    position: absolute;
    bottom: 50px;
    text-align: center;
    font-size: 11px;
    margin-left: 130px;
}

.invoiceTotalCalc {
    display: flex;
    justify-content: space-between;
}

.discountInline {
    display: flex;
}

.totalLine {
    border-bottom: 1px solid black;
}

.discountInline input {
    text-align: left;
}

