.hideNav {
    display: none;
}

.navicon {
    cursor: pointer;
}

.burger {
    color: #060b26;
    font-size: 50px;
}

.sideNav {
    height: 100%;
    width: 100px;
    background-color: var(--blue);
    position: fixed;
    transition: 850ms;
}

.sideNav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
}

.sideNav li {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
a {
    text-decoration: none;
}

a:hover {
    background-color: #ffffff3b;
    transition: 0.3s;
}

@media (min-width: 500px) {
    .navicon {
        display: none;
    }

    .sideNav {
        width: 250px;
    }

    .sideNav li {
        font-size: 28px;
        margin: 50px;
    }


    
}